![example](images/director_shot.jpeg)

# Project Title

**Authors:** Ivan Torres
***

## Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

## Business Problem

As a new movie studios, I would like to find patterns  between Genres and Rating. With the data recoleted i will determine which genre is trending and how expensive this could be.

## Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

BOM DATA

In [2]:
# Here you run your code to explore the data
bomdata = pd.read_csv('Data/zippedData/bom.movie_gross.csv.gz')
bomdata.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [3]:
bomdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [42]:
bomdata['foreign_gross']= pd.to_numeric(bomdata['foreign_gross'],errors='coerce')

In [48]:
bomdata['total_gross']= bomdata['domestic_gross'] + bomdata['foreign_gross']

IMBD DATASET TITLE & RATINGS

In [4]:
imdbrating = pd.read_csv('Data/zippedData/imdb.title.ratings.csv.gz')
imdbrating.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [5]:
imdbrating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [6]:
imdbtitle = pd.read_csv('Data/zippedData/imdb.title.basics.csv.gz')
imdbtitle.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [10]:
imdbtitle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [11]:
imdbdata.head()

,tconst,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119

In [12]:
imdbdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73856 entries, 0 to 73855
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           73856 non-null  object
 1   title            73856 non-null  object
 2   original_title   73856 non-null  object
 3   start_year       73856 non-null  int64
 4   runtime_minutes  66236 non-null  float64
 5   genres           73052 non-null  object
 6   averagerating    73856 non-null  float64
 7   numvotes         73856 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 5.1+ MB

In [8]:
imdbdata = pd.merge(imdbtitle,imdbrating)

In [13]:
imdbdata.rename(columns={"primary_title": "title"}, inplace = True)

In [14]:
data =pd.merge(imdbdata,bomdata)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3027 entries, 0 to 3026
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tconst           3027 non-null   object
 1   title            3027 non-null   object
 2   original_title   3027 non-null   object
 3   start_year       3027 non-null   int64
 4   runtime_minutes  3027 non-null   float64
 5   genres           3027 non-null   object
 6   averagerating    3027 non-null   float64
 7   numvotes         3027 non-null   int64
 8   studio           3027 non-null   object
 9   domestic_gross   3027 non-null   int64
 10  foreign_gross    3027 non-null   int64
 11  year             3027 non-null   int64
dtypes: float64(2), int64(5), object(5)
memory usage: 307.4+ KB

## Data Preparation

Describe and justify the process for preparing the data for analysis.

***
Questions to consider:
* Were there variables you dropped or created?
* How did you address missing values or outliers?
* Why are these choices appropriate given the data and the business problem?
***

In [21]:
# Here you run your code to clean the data
data['foreign_gross'] = data['foreign_gross'].fillna(0)
data['domestic_gross'] = data['domestic_gross'].fillna(0)
data['runtime_minutes'] = data['runtime_minutes'].fillna(data['runtime_minutes'].mean())
data['genres'] = data['genres'].fillna('Drama')
data['studio'] = data['studio'].fillna('Uni.')

In [31]:
data['genres'].describe()

count     3024
unique     216
top       Uni.
freq       156
Name: studio, dtype: object

In [18]:
data['foreign_gross']= pd.to_numeric(data['foreign_gross'],errors='coerce')

In [27]:
data['foreign_gross']=data['foreign_gross'].astype("int64")
data['domestic_gross']=data['domestic_gross'].astype('int64')

In [29]:
data['total'] = data['foreign_gross'] + data['domestic_gross']
data.head()

,tconst,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,year,total
0,tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama",7.1,15378,Relbig.,1100000,0,2016,1100000
1,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,IFC,744000,8000000,2012,8744000
2,tt4339118,On the Road,On the Road,2014,89.0,Drama,6.0,6,IFC,744000,8000000,2012,8744000
3,tt5647250,On the Road,On the Road,2016,121.0,Drama,5.7,127,IFC,744000,8000000,2012,8744000
4,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,Fox,58200000,129900000,2013,188100000

In [41]:
data.drop(columns=['domestic_gross','foreign_gross'], inplace = True)

In [32]:
data.sort_values(by=['total'], ascending = False)

,tconst,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,year,total
1907,tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",7.3,665594,BV,459000000,946400000,2015,1405400000
1301,tt1825683,Black Panther,Black Panther,2018,134.0,"Action,Adventure,Sci-Fi",7.3,516148,BV,700100000,646900000,2018,1347000000
1984,tt2527336,Star Wars: The Last Jedi,Star Wars: Episode VIII - The Last Jedi,2017,152.0,"Action,Adventure,Fantasy",7.1,462903,BV,620200000,712400000,2017,1332600000
2703,tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,2018,128.0,"Action,Adventure,Sci-Fi",6.2,219125,Uni.,417700000,891800000,2018,1309500000
460,tt1611845,Frozen,Wai nei chung ching,2010,92.0,"Fantasy,Romance",5.4,75,BV,400700000,875700000,2013,1276400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,tt1384927,Death of a Superhero,Death of a Superhero,2011,97.0,"Animation,Drama",7.1,3234,Trib.,600,0,2012,600
254,tt1131724,2:22,2:22,2017,98.0,Thriller,5.8,16318,Magn.,400,0,2017,400
3022,tt8331988,The Chambermaid,La camarista,2018,102.0,Drama,7.1,147,FM,300,0,2015,300
2683,tt4796122,Satanic,Satanic,2016,85.0,Horror,3.7,5381,Magn.,300,0,2016,300
1507,tt1986953,Storage 24,Storage 24,2012,87.0,"Action,Horror,Mystery",4.4,6229,Magn.,100,0,2013,100

## Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [ ]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***